* {
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar > .active {
  transition: all 0.2s linear;
  border-bottom: 2px solid white;
}

.main-section {
  height: 100vh;
  background-color: skyblue; 
}

.about-section {
  height: 100vh;
  background-color: mediumpurple; 
}


.contact-section {
  height: 100vh;
  background-color: tomato; 
}
